/* 
  Written by Peter Beshai (@pbesh)
*/

.xy-popper {
  --tooltip-arrow-size: 12px;
  --tooltip-z-index: 100;
  --tooltip-color: #333333;
  --tooltip-background: rgba(255, 255, 255, 0.90);
  --tooltip-border: 1px solid #d3d3d3;
  --tooltip-border-radius: 4px;
  --tooltip-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tooltip-padding: 8px;
  
  background-color: var(--tooltip-background);
  font-size: 0.75rem;
  color: var(--tooltip-color);
  border: var(--tooltip-border);
  border-radius: var(--tooltip-border-radius);
  box-shadow: var(--tooltip-shadow);
  pointer-events: none;
  z-index: var(--tooltip-z-index);
}
  
.xy-popper-content {
  background-color: var(--tooltip-background);
  border-radius: var(--tooltip-border-radius);
  padding: var(--tooltip-padding);
}
  
.xy-popper-arrow,
.xy-popper-arrow:before {
  position: absolute;
  width: var(--tooltip-arrow-size);
  height: var(--tooltip-arrow-size);
  z-index: -1;
}

.xy-popper-arrow:before {
  content: '';
  transform: rotate(45deg);
  background-color: var(--tooltip-background);
  border: var(--tooltip-border);
  box-shadow: var(--tooltip-shadow);
}
  
.xy-popper[data-popper-placement^='top'] > .xy-popper-arrow {
  bottom: calc(-1 * var(--tooltip-arrow-size) * 0.5);
}
  
.xy-popper[data-popper-placement^='bottom'] > .xy-popper-arrow {
  top: calc(-1 * var(--tooltip-arrow-size) * 0.5);
}
  
.xy-popper[data-popper-placement^='left'] > .xy-popper-arrow {
  right: calc(-1 * var(--tooltip-arrow-size) * 0.5);
}
  
.xy-popper[data-popper-placement^='right'] > .xy-popper-arrow {
  left: calc(-1 * var(--tooltip-arrow-size) * 0.5);
}
  